@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,500&family=Inter:wght@300;400;500;600&family=Space+Grotesk:wght@400;500;600;700&display=swap");

$title-font: "Space Grotesk", sans-serif;
$subtitle-font: "Inter", sans-serif;
$italic-font: "Playfair Display", serif;
$blog-bg: #e9e6e4;
$body-bg: #121418;
$title-color: #121418;
$subtitle-color: #161419;
$border-color: #94918f;

.textAreaContainer{
    display: flex;
    flex-direction: column;
    position: relative;
}

.textAreaEffect{
    font-family: $title-font;
    font-size: 20px;
    border: 0;
    color: $title-color;
    width: 100%;
    min-height: 14vh;
    box-sizing: border-box;
    letter-spacing: 1px;
    border-bottom: 1px solid $border-color;
    resize: none;
    margin-top: 1px;
    &:focus{
        outline: none;
        ~ .textAreaFocus{
            width: 100%;
            transition: 0.4s;
        }
    }
}

.textAreaFocus{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #b91f1f;
    transition: 0.4s;
}
