@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,500&family=Inter:wght@300;400;500;600&family=Space+Grotesk:wght@400;500;600;700&display=swap");

$title-font: "Space Grotesk", sans-serif;
$subtitle-font: "Inter", sans-serif;
$italic-font: "Playfair Display", serif;
$blog-bg: #e9e6e4;
$body-bg: #121418;
$title-color: #121418;
$subtitle-color: #161419;
$border-color: #94918f;

*{
  background-color: $blog-bg;
}

canvas{
  background-color: transparent;
}

a{
  text-decoration: none;
  &:link{
    text-decoration: none;
  }
  &:hover {
    text-decoration: none;
  }
}
/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-clip: padding-box; 
  border: 3px solid rgba(0, 0, 0, 0);
  background-color: $border-color;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #726e6b; 
}

.container{
  display: flex;
  padding-top: 7vh;
  padding-bottom: 3vh;
}

.pageContent{
  width: 80%;
  margin-left: 16%;
  display: flex;
  flex-direction: column;
}

.sideBar{
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 13%;
  height: 90%;
  border-right: 1px solid $border-color;
  padding-left: 20px;
}

.sideBarLinks{
  display: flex;
  flex-direction: column;
}

.hoverableLink{
  margin-bottom: 24px;
  font-size: 22px;
  text-decoration: none;
  width: max-content;
  color: $subtitle-color;
  letter-spacing: -0.5px;
  position: relative;
  cursor: pointer;
  &::after{
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 1px;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  &:hover{
    &::after{
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
}

.hoverableLinkSelected{
  margin-bottom: 24px;
  font-size: 22px;
  text-decoration: none;
  width: max-content;
  color: $subtitle-color;
  letter-spacing: -0.5px;
  position: relative;
  cursor: pointer;
  &::after{
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(1);
    height: 2px;
    bottom: 0;
    left: 1px;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
}

.separator{
  border-bottom: 1px dashed $border-color;
  width: 90%;
  margin-bottom: 20px;
}

.sideBarLanguage{
  margin-top: auto;
  display: flex;
  width: 80%;
  justify-content: flex-start;
  transition: all 50ms;
  img{
    width: 52px;
    cursor: pointer;
    &:hover{
      transform: scale(1.15);
    }
  }
}

.sideBarMention{
  font-size: 20px;
  letter-spacing: -0.5px;
  color: #161419;
  font-family: $subtitle-font;
}

marquee {
  font-size: 20px;
  background-color: $body-bg;
  padding: 6px 0;
  width: calc(100% + 20px);
  color: $blog-bg;
  margin-left: -20px;
  flex-shrink: 0;
}

@media (max-width: 1064px) {
  .sideBar{
    display: none;
  }
  .pageContent{
    width: 96%;
    margin-left: 13px;
  }
}