@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,500&family=Inter:wght@300;400;500;600&family=Space+Grotesk:wght@400;500;600;700&display=swap");

$title-font: "Space Grotesk", sans-serif;
$subtitle-font: "Inter", sans-serif;
$italic-font: "Playfair Display", serif;
$blog-bg: #e9e6e4;
$body-bg: #121418;
$title-color: #121418;
$subtitle-color: #161419;
$border-color: #94918f;

.projectsContainer{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
}

.projectsTitle{
    font-size: 100px;
    font-family: $title-font;
    font-weight: 700;
    letter-spacing: -5px;
    line-height: 1;
    margin-bottom: 6px;
    margin-top: 0;
    color: #b91f1f;
}

.projectsMain{
    align-self: stretch;
}

@media(max-width: 688px){
    .projectsTitle{
        font-size: 80px;
    }
}